body {
	font-family: 'Lora', semi-bold;
	justify-content: center;
	align-items: center;

	
}

h1 {
	font-family: 'Lora', serif;
}
h2 {
	font-family: 'Lora', serif;
	font-style: italic;
}
p {
	font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}
.nav { 
    display: flex; 
    align-items: center; 
    width: 100%; 
    margin: 25px;
    flex-direction: row;
} 

.nav ul { 
    display: flex;  
    list-style: none;
}

.nav ul li a { 
    display: flex;  
    flex-direction: row;
    text-decoration: none;
    margin: 30px 50px;
    font-weight: bold;
    font-size: 20px;
}

#GetinTouch {
    display: flex;
    padding: 20px;
    color:  #fffcff;; 
    font-weight: bold;
    font-size: 15pt;
    background-color: #9c27b0;
    border: none;
    box-shadow: 3px 3px 5px 0 #1f0823;

 }

@media only screen and (max-width = 768px) {
    
}

html {
  scroll-behavior: smooth;
}
button {
    display: flex;
    padding: 20px;
    color:  #fffcff;; 
    font-weight: bold;
    font-size: 15pt;
    background-color: #9c27b0;
    border: none;
    box-shadow: 3px 3px 5px 0 #1f0823;
}
